@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-rh  {
    font-family: 'Red Hat Display', sans-serif;
}

.custom-bs {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.custom-link{
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size:x-large;
}

.custom-title {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0.3rem 0 2rem;
}

a {
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: large;
}

a:hover {
    color: cornflowerblue;
}

.fadeInUp{
    animation : fadeInUp .7s cubic-bezier(0.275, 0.9, 0.42, 1.275)
}
.fadeIn{
    animation : fadeIn .7s cubic-bezier(0.275, 0.9, 0.42, 1.275)
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}